image: maven:3.9.11-eclipse-temurin-24-noble

.mvn.cache:
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .m2/repository

.docker:
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "/certs/client"
  image: docker
  tags:
    - dind
  services:
    - name: docker:dind
      alias: docker
  before_script:
    - echo "$CI_JOB_TOKEN" | docker login gitlab.education.tbank.ru:443 -u gitlab-ci-token --password-stdin

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  GITLAB_DOCKER_PROXY: gitlab.education.tbank.ru:443/backend-academy-java-2025/lecture-materials/dependency_proxy/containers

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true'

stages:
  - validate
  - build
  - blackbox-tests

Run Linter:
  stage: validate
  script:
    - ./mvnw clean compile -am spotless:check modernizer:modernizer spotbugs:check pmd:check pmd:cpd-check

Run Test:
  stage: validate
  extends:
    - .mvn.cache
  needs:
    - job: Run Linter
  script:
    - ./mvnw clean verify

Build:
  stage: build
  extends:
    - .mvn.cache
  script:
    - ./mvnw clean package shade:shade -DskipTests=true -Djacoco.skip=true
  artifacts:
    paths:
      - target/project-1.0.jar

Run Black Box Tests:
  stage: blackbox-tests
  extends:
    - .docker
  needs:
    - job: Build
      artifacts: true
  script:
    - docker build --build-arg RUNTIME_IMAGE=$GITLAB_DOCKER_PROXY/eclipse-temurin:24-jre -t app .
    - ./tests/run.sh tests/cases
